table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

/*horizontal line backup
/*hr {*/
/*    margin-top: 1rem;*/
/*    margin-bottom: 4rem;*/
/*    border: 0;*/
/*    border-top: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/