h1 {
    font-family: 'Pacifico', cursive;
    margin: 50px;
    font-size: 48px ;
}


body{
    font-family: 'Baloo 2', cursive;
    background-color: black;
    color: ghostwhite;
    background-image: url("brown-coffee-beans-1323730.jpg");
    background-position: center;
    background-size: cover;
}





/*#horz-rule {*/
/*    margin: 0;*/
/*}*/






